* {
  box-sizing: border-box;
}

#root {
}

button {
  cursor: pointer;
}

:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
}

input {
  font-size: 20px;
  border-radius: 3px;
}

body {
  background-color: #ecf5ed;
}

@import 'nav_bar';
@import 'session';
@import 'modal';
@import 'errors';
@import 'harvests';