.mapMap {
  margin-top: 200px;
  padding-top: 200px;
  width: 90vw;
  height: 90vh;
}

#myMap {
  margin-top: 200px;
  padding-top: 200px;
  margin: auto;
}

.mapBorder {
  background-color: #ecf5ed;
}
