@charset 'UTF-8';

.action--field-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    strong {
        justify-self: flex-start;
        min-width: 6em;
        flex-shrink: 0;
        flex-grow: 0;
    }
    span {
        flex-shrink: 0;
        flex-grow: 1;
    }
    * + * {
        margin-left: 1ch !important;
    }
}
.action--button__right {
    justify-self: flex-end;
}