@charset 'UTF-8';

.introLayer1 {
  color: #ecf5ed;
  display: flex;
  justify-content: space-around;
  padding: 75px 1em;
  background-image: image-url("alina-chupakhina-gzErsVXK-sQ-unsplash.jpg");
  background-repeat: no-repeat;
  min-height: 1vh;
  background-size: cover;
}

.introSplashLeft {
  padding-left: 25px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 50px;
}


.bigTitle {
  font-size: 48px;
  font-weight: bold;
}

.bigSubTitle {
  font-size: 36px;
  font-weight: bold;
}

.introSplashDescription {
  font-size: 40px;
}

.introSplashRight img {
  height: 500px;
  width: 450px;
  padding-right: 50px;
}

.introLayer2 {
  height: 1500;
}

.companyIcons {
  padding-top: 50px;
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  height: 150px;
  width: 100vw;
}

.companyIcons img {
  object-fit: contain;
  width: 20vw;
}

.blurb {
  padding-top: 100px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.bigFruitImage {
  object-fit: cover;
}

.dividerLayers2-3 {
  background-image: image-url("divider.png");
  background-repeat: repeat-x;
  background-color: white;
  height: 200px;
}

.introLayer3 {
  height: 150px;
  background: white;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 300px;
}

.introLayer3 div {
  margin: auto;
}

.introLayer3 span {
  align-self: center;
}

.iconTypes img {
  height: 50px;
  width: 50px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 200px;
}

.column span {
  text-align: center;
}

.introWalk img{
  height: 100px;
  width: 100px;
}

.introNature img{
  height: 100px;
  width: 100px;
}

.introLayer4 {
  height: 600px;
  background-color: white;
}

.bigLeaf {
  position: relative;
  padding-top: 50px;
  margin: auto;
  height: 100%;
  width: 90%;
  background-image: image-url("bigLeaf2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  z-index: 0;
}

.story {
  padding-top: 50px;
  font-size: 20px;
}

.bold {
  font-weight: bold;
  font-size: 20px;
}

.storyButtons {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 50px;
  left: 46%;
}

/* The container */
.container {
  position: relative;
  padding-right: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  bottom: 25;
  // left: 25;
  height: 25px;
  width: 25px;
  background-color: gray;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #aec5aa;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #003100;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Hide the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: none;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
  border-radius: 50%;
  border: 1px soid black;
	background: white;
}

// Initial step to make the story slide
// .bigLeaf p {
//   position: absolute;
//   left: -200px;
//   width: 100px;
//   height: 100px;
//   background: blue;
//   transition: 1s;
// }

.introLayer5, .introLayer6 {
  height: 500px;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
}

.introLayer5 div {
  width: 45%;
}