.introLayer1 {
  color: white;
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  // background-size: cover;
  // background-
  background-image: image-url("appleTree.png");
}

.introSplashLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // justify-content: space-between;
}


.bigTitle {
  font-size: 48px;
  font-weight: bold;
}

.bigSubTitle {
  font-size: 40px;
  font-weight: bold;
}

.introSplashDescription {
  font-size: 40px;
}

.introSplashRight img {
  height: 500px;
  width: 450px;
}

// .mergeLayers1_2 {
//   background-image: linear-gradient(black, #4D7C50, #7f1711, black);
//   height: 200px;
// }

// .mergeLayers2_3 {
//   background-image: linear-gradient();
// }

// .introLayer2 {
//   height: 90vh;
//   background-image: image-url("cherryTomatoes.png")
// }

// .introLayer3 {
//   height: 90vh;
//   background-image: image-url("lavenderBush.png")
// }

