.introLayer1 {
  color: #ecf5ed;
  display: flex;
  justify-content: space-around;
  padding-top: 75px;
  background-image: image-url("introPagePlants.png");
  background-repeat: no-repeat;
  height: 1000px;
  background-size: 100% 1000px;
}

.introSplashLeft {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 50px;
}


.bigTitle {
  font-size: 48px;
  font-weight: bold;
}

.bigSubTitle {
  font-size: 40px;
  font-weight: bold;
}

.introSplashDescription {
  font-size: 40px;
}

.introSplashRight img {
  height: 500px;
  width: 450px;
  padding-right: 50px;
}

.introLayer2 {
  height: 90vh;
}

.introLayer3 {
  height: 90vh;
}

.companyIcons {
  padding-top: 50px;
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  height: 150px;
  width: 100vw;
}

.companyIcons img {
  object-fit: contain;
  width: 20vw;
}

.companyBlurb {
  padding-top: 100px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
